@model Coffee_Shop_Product_List.Products

@{
    ViewData["Title"] = "Details";
}

@{
    
        <p><b>@Model.Name</b></p>
        <p>@Model.Category</p>
        <p>@Model.Description</p>
        <p>$@Model.Price</p>
       
}

